include layout
block content
  h1 Update Employee
  table(border='1')
  form(method='post',action='/emp/updatedata/'+data._id)
    
    #form.group
     label Employee Id:
     input.form-control(type="text",name="eid")
    #form.group
     label Employee Name:
     input.form-control(type="text",name="ename")
    #form.group
     label Empployee Department:
     input.form-control(type="text",name="edep")
    #form.group
     label Employee Salary:
     input.form-control(type="text",name="esal")
    br
    input.btn.btn-primary(type="submit", value="Update Employee")
